<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sweetalert2.min.css')}}">
    <script defer src="{{ url_for('static', path='js/sweetalert2.all.min.js')}}"></script>

    <style>
        .form .label {
            text-align: left;
        }

        .form .select, .form select {
            width: 100%;
        }

        #list-categoria {
            gap: 1rem;
        }

        .card.card--tiny .card-footer {
            padding: 1rem .5rem;
            gap: 1rem;
        }

        .card.card--tiny .card-header {
            background-color: var(--clr-dark);
            color: var(--clr-white);
        }

        .card.card--tiny .card-header .card-title-text {
            color: var(--clr-white);
            margin-right: .8rem;
            font-weight: bold;
        }

        button.card-footer-item {
            border: none;
            background-color: #f1f1f1;
            font-weight: bold;
            padding: .2rem 1rem;
            border-radius: .7rem;
            transition: background ease-out .1s;
        }

        button.card-footer-item:hover {
            background-color: var(--clr-dark);
            color: var(--clr-white);
        }

        .belt--checkbox {
            width: 1rem;
            height: 2rem;
            padding: .2rem 1rem;
            border-radius: .7rem;
        }

        .belt--checkbox.is-white {
            background-color: var(--clr-white);
            border: #000000 solid 1px;
        }

        .belt--checkbox.is-yellow {
            background-color: var(--clr-belt-yellow);
        }

        .belt--checkbox.is-green {
            background-color: var(--clr-belt-green);
        }

        .belt--checkbox.is-orange {
            background-color: var(--clr-belt-orange);
        }

        .belt--checkbox.is-purple {
            background-color: var(--clr-belt-purple);
        }

        .belt--checkbox.is-brown {
            background-color: var(--clr-belt-brown);
        }

        .belt--checkbox.is-black {
            background-color: var(--clr-belt-black);
            border: #fff solid 1px;
        }
    </style>
</head>
<body>
{% include 'shared/sidebar.html'%}
<main id="main">
    <div class="container is-fluid">
        <article class="columns">
            <div class="column">
                <button id="new--participant" class="button" type="button">Nueva categoria</button>
            </div>
        </article>
        <div id="list-categoria" class="is-flex is-flex-wrap-wrap">
        </div>
    </div>
    <script defer>
        function handleEventDeleteCategory() {
            const btnDeletes = Array.from(document.getElementsByClassName("categoria--delete"))
            btnDeletes.forEach((btnDelete) => {
                    btnDelete.addEventListener('click', async () => {
                        const result = await Swal.fire({
                            title: 'Deseas borrar esta categoria?',
                            icon: 'warning',
                            showCancelButton: true,
                            cancelButtonText: 'Cancelar',
                            confirmButtonText: 'Borrar',
                        })
                        const categoriaId = btnDelete.dataset.id
                        if (result.isConfirmed) {
                            const response = await fetch(`/api/categorias/${categoriaId}`, {
                                method: "DELETE",
                                headers: {'Content-Type': 'application/json'}
                            })
                            console.log(response.status);
                            response.status === 204
                                ? await Swal.fire(
                                    'Categoria borrada!',
                                    '',
                                    'success'
                                )
                                : await Swal.fire(
                                    'No se borro la categoria!',
                                    '',
                                    'error'
                                )
                        }
                        swapHTMLElement()
                    })
                }
            )
        }

        function formToEditCategory() {
            return `
            <form class="form" id="formNewCategory">
            <div class="field">
                <label class="label">Edad minima</label>
                <input class="input" type="number" name="age_min" id="age_min">
            </div>
            <div class="field">
                <label class="label">Edad maxima</label>
                <input class="input" type="number" name="age_max" id="age_max">
            </div>
            <div class="field">
                <label class="label">Cinturones</label>
                <label class="checkbox">
                    <input type="checkbox" name="belt-white" id="belt-white" value="blanco">
                    <div class="belt--checkbox is-white"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-yellow" id="belt-yellow" value="amarillo">
                    <div class="belt--checkbox is-yellow"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-orange" id="belt-orange" value="anaranjado">
                    <div class="belt--checkbox is-orange"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-green" id="belt-green" value="verde">
                    <div class="belt--checkbox is-green"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-purple" id="belt-purple" value="morado">
                    <div class="belt--checkbox is-purple"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-brown" id="belt-brown" value="chocolate">
                    <div class="belt--checkbox is-brown"></div>
                </label>
                 <label class="checkbox">
                    <input type="checkbox" name="belt-black" id="belt-black" value="negro">
                    <div class="belt--checkbox is-black"></div>
                </label>
                <input type="hidden" name="belts" id="belts" value="">
            </div>
            </form>
        `
        }

        function markCheckbox(cinturones) {
            const belts = {
                blanco: function (checked) {
                    return ` <label class="checkbox">
                    <input type="checkbox" name="belt-blanco" id="belt-blanco" value="blanco" ${checked}>
                    <div class="belt--checkbox is-white"></div>
                </label>`
                },
                amarillo: function (checked) {
                    return ` <label class="checkbox">
                    <input type="checkbox" name="belt-amarillo" id="belt-amarillo" value="amarillo" ${checked}>
                    <div class="belt--checkbox is-yellow"></div>
                </label>`
                },
                anaranjado: function (checked) {
                    return `<label class="checkbox">
                    <input type="checkbox" name="belt-anaranjado" id="belt-anaranjado" value="anaranjado" ${checked}>
                    <div class="belt--checkbox is-orange"></div>
                </label>`
                },
                verde: function (checked) {
                    return ` <label class="checkbox">
                    <input type="checkbox" name="belt-verde" id="belt-verde" value="verde" ${checked}>
                    <div class="belt--checkbox is-green"></div>
                </label>`
                },
                morado: function (checked) {
                    return ` <label class="checkbox">
                    <input type="checkbox" name="belt-morado" id="belt-morado" value="morado" ${checked}>
                    <div class="belt--checkbox is-purple"></div>
                </label>`
                },
                chocolate: function (checked) {
                    return `  <label class="checkbox">
                    <input type="checkbox" name="belt-chocolate" id="belt-chocolate" value="chocolate" ${checked}>
                    <div class="belt--checkbox is-brown"></div>
                </label>`
                },
                negro: function (checked) {
                    return `  <label class="checkbox">
                    <input type="checkbox" name="belt-negro" id="belt-negro" value="negro" ${checked}>
                    <div class="belt--checkbox is-black"></div>
                </label>`
                }
            }
            let html = ""
            for (const cinturon in belts) {
                let checked = ""
                if (cinturones.includes(cinturon)) {
                    checked = "checked"
                }
                html += belts[cinturon](checked)
            }
            return html
        }

        function formToRealEditCategory(categoria) {
            cinturones = markCheckbox(categoria.cinturones)
            return `
            <form class="form" id="formNewCategory">
            <div class="field">
                <label class="label">Edad minima</label>
                <input class="input" type="number" name="age_min" id="age_min" value="${categoria.age_min}">
            </div>
            <div class="field">
                <label class="label">Edad maxima</label>
                <input class="input" type="number" name="age_max" id="age_max" value="${categoria.age_max}">
            </div>
            <div class="field">
                <label class="label">Cinturones</label>
                ${cinturones}
                <input type="hidden" name="belts" id="belts" value="">
            </div>
            </form>
        `
        }

        function formToNewParticipant() {
            return `
            <form class="form">
            <div class="field">
                <label class="label">Nombre</label>
                <input class="input" type="text" name="nombre" id="nombre">
            </div>
            <div class="field">
                <label class="label">Apellido</label>
                <input class="input" type="text" name="apellido" id="apellido">
            </div>
            <div class="field">
                <label class="label">Edad</label>
               <input class="input" type="text" name="edad" id="edad">
            </div>
             <div class="field">
                <label class="label">Sexo</label>
                <div class="select">
                <select id="sexo" name="sexo">
                <option value="not-select" disabled>seleccion sexo</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                </select>
                </div>
            </div>
                <div class="control">
                <label class="label">Cinturones</label>
                <label for="cinturon" class="radio">
                    <input type="radio" name="cinturon" id="cinturon" value="blanco">
                    <div class="belt--checkbox is-white"></div>
                </label>
                 <label for="cinturon" class="radio">
                    <input type="radio" name="cinturon" id="cinturon" value="amarrillo">
                    <div class="belt--checkbox is-yellow"></div>
                </label>
                 <label for="cinturon" class="radio">
                    <input type="radio" name="cinturon" id="cinturon" value="aranjado">
                    <div class="belt--checkbox is-orange"></div>
                </label>
            </div>
            </form>
        `
        }

        function handleEventEditCategory() {
            const btnDeletes = Array.from(document.getElementsByClassName("categoria--edit"))
            btnDeletes.forEach((btnDelete) => {
                btnDelete.addEventListener('click', async () => {
                    console.log("Press btn edit")
                    const categoriaId = btnDelete.dataset.id;
                    const response = await fetch(`/api/categorias/${categoriaId}`, {
                        method: "GET"
                    })
                    const result = await response.json();
                    console.log(result);
                    const swal = await Swal.fire({
                        title: 'Editar Categoria',
                        showCancelButton: true,
                        cancelButtonText: 'Cancelar',
                        confirmButtonText: 'Guardar',
                        html: formToRealEditCategory(result)
                    })
                    if (swal.isConfirmed) {
                        const formData = getValuesForm("formNewCategory");
                        const categoriaModel = {
                            name: "",
                            age_min: 0,
                            age_max: 0,
                            cinturones: [],
                        }
                        categoriaModel["name"] = `${formData["age_min"]}-${formData["age_max"]}`;
                        categoriaModel["age_min"] = formData["age_min"]
                        categoriaModel["age_max"] = formData["age_max"]
                        for (const key in formData) {
                            if (key.startsWith('belt') && formData[key] !== "") {
                                categoriaModel['cinturones'].push(formData[key])
                            }
                        }
                        console.log({categoriaModel});
                        const response = await fetch(`/api/categorias/${categoriaId}`, {
                            method: "PUT",
                            body: JSON.stringify(categoriaModel),
                            headers: {'Content-Type': 'application/json'}
                        })
                        console.log(response.status);
                        response.status === 200
                            ? await Swal.fire(
                                'Actualizada la categoria!',
                                '',
                                'success'
                            )
                            : await Swal.fire(
                                'No se actualizo la categoria!',
                                '',
                                'error'
                            )
                    }
                    swapHTMLElement()
                })
            })
        }

        function handleEventNewParticipantCategory() {
            const btnDeletes = Array.from(document.getElementsByClassName("categoria--new-participant"))
            btnDeletes.forEach((btnDelete) => {
                btnDelete.addEventListener('click', async () => {
                    const result = await Swal.fire({
                        title: 'Nuevo participante',
                        showCancelButton: true,
                        cancelButtonText: 'Cancelar',
                        confirmButtonText: 'Guardar',
                        html: formToNewParticipant()
                    })

                })
            })
        }

        function handleEventNewCategoria() {
            const btnNewParticipant = document.getElementById("new--participant");
            btnNewParticipant.addEventListener('click', async () => {
                const result = await Swal.fire({
                    title: 'Editar Categoria',
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Guardar',
                    html: formToEditCategory()
                })
                if (result.isConfirmed) {
                    const formData = getValuesForm("formNewCategory");
                    const categoriaModel = {
                        name: "",
                        age_min: 0,
                        age_max: 0,
                        cinturones: [],
                        competicion_id: "",
                        torneo_id: ""
                    }
                    categoriaModel["name"] = `${formData["age_min"]}-${formData["age_max"]}`;
                    categoriaModel["age_min"] = formData["age_min"]
                    categoriaModel["age_max"] = formData["age_max"]
                    categoriaModel["competicion_id"] = "645d5d96dd50f069ce7f76a7";
                    categoriaModel["torneo_id"] = "645d5e48dd50f069ce7f76ab"
                    for (const key in formData) {
                        if (key.startsWith('belt') && formData[key] !== "") {
                            categoriaModel['cinturones'].push(formData[key])
                        }
                    }
                    console.log({categoriaModel});
                    const response = await fetch('/api/categorias', {
                        method: "POST",
                        body: JSON.stringify(categoriaModel),
                        headers: {'Content-Type': 'application/json'}
                    })
                    console.log(response.status);
                    response.status === 200
                        ? await Swal.fire(
                            'Creada la categoria!',
                            '',
                            'success'
                        )
                        : await Swal.fire(
                            'No se creo la categoria!',
                            '',
                            'error'
                        )
                }
                swapHTMLElement()
            })
        }

        function swapHTMLElement() {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/categorias/list');
            xhr.responseType = "text";
            xhr.send();
            xhr.onload = () => {
                let response = xhr.response;
                const containerHTMLELement = document.getElementById("list-categoria");
                containerHTMLELement.innerHTML = response;
                reloadGroupEvents()
            }
        }

        function getValuesForm(formId) {
            const formCurrent = document.getElementById(formId);
            let form = new FormData(formCurrent);
            return Object.fromEntries(form.entries());
        }

        function reloadGroupEvents() {
            handleEventDeleteCategory()
            handleEventNewParticipantCategory()
            handleEventEditCategory()
        }

        handleEventNewCategoria()
        swapHTMLElement()
    </script>
</main>
</body>
</html>