<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css')}}">
    <style>
        main#main {
            margin-left: 12rem;
        }

        #header-torneo {
            background-color: var(--clr-dark);
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            color: var(--clr-white);
            padding: 1.5rem 2rem;
            margin-bottom: 3rem;
        }

        #header-torneo h2 {
            font-size: 3rem;
            text-transform: uppercase;
        }

        #header-torneo .header-title {
            flex-grow: 2;
            border: 2px solid #FFFFFF;
            margin-left: 2rem;
            border-radius: .5rem;
        }

        #header-competencia {
            border-right: 2px solid #FFFFFF;
            max-width: 15rem;
        }

        .belt {
            width: 10rem;
            height: 2rem;
            border-radius: .5rem;
        }

        .belt.is-yellow {
            background-color: #E8B811;
        }

        .is-gap-2 {
            gap: 2rem;
        }

        .action-categoria {
            border-bottom: 2px solid #bbbbbb;
        }
        .action-categoria .column:first-child{
            max-width: 12rem;
        }

        .is-scroll-y-axis {
            overflow-y: auto;
        }

        .participantes {
            max-height: 30rem;
        }

        table thead tr {
            background-color: var(--clr-dark);
            color: var(--clr-white);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            width: 100%;
        }

        .table.is-narrow thead tr th {
            color: var(--clr-white);
            padding: 1.25rem;
        }

        tr th:first-child {
            border-top-left-radius: 1rem;
        }

        tr th:last-child {
            border-top-right-radius: 1rem;
        }
        .table tr td:first-child{
            width: 10%;
        }
    </style>
</head>

<body>
{% include 'shared/sidebar.html'%}
<main id="main">
    <div class="container is-fluid">
        <div id="header-torneo" class="container header-torneo">
            <div class="columns">
                <div id="header-competencia" class="column">
                    <h2>KATA</h2>
                </div>
                <div class="column header-title">
                    <h2>IX COPA MURAYANA PANAMÁ</h2>
                </div>
            </div>
        </div>
        <div class="columns action-categoria">
            <div class="column">
                <button class="button is-info">Nuevo Competidor</button>
            </div>
            <div class="column is-flex-grow-2 is-flex is-gap-2">
                <h4 class="title is-4">Categoria:</h4>
                <h4 class="title is-4">20 - 30</h4>
                <div class="belt is-yellow"></div>
            </div>
            <div class="column">
                <button class="button is-light">Promixa ronda</button>
                <button class="button is-danger">Ganadores</button>
            </div>
        </div>
        <div class="container if-fluid is-scroll-y-axis is-flex is-gap-2">
            <div class="card participantes">
                <div class="card-header"></div>
                <div class="card-content">
                    <table class="table is-narrow">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Participante</th>
                            <th>Dojo</th>
                            <th>Edad</th>
                            <th>Puntaje</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card participantes">
                <div class="card-header"></div>
                <div class="card-content">
                    <table class="table is-narrow">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Participante</th>
                            <th>Dojo</th>
                            <th>Edad</th>
                            <th>Puntaje</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card participantes">
                <div class="card-header"></div>
                <div class="card-content">
                    <table class="table is-narrow">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Participante</th>
                            <th>Dojo</th>
                            <th>Edad</th>
                            <th>Puntaje</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Juanito Camela</td>
                            <td>Miyagi Do</td>
                            <td>25</td>
                            <td>0</td>
                            <th>
                                <button class="button is-info">Evaluar</button>
                            </th>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>